<!DOCTYPE html>
<html>
<head>
  <title>Blocmarks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
     <ul style="text-align: right;" class="nav nav-tabs">
       <li><%= link_to "Home", welcome_index_path %></li><li><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></li>
</li>
  </ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>
